<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/custom.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </head>
  <!--Coded With Love By Mutiullah Samim-->
  <body>
    <audio id="bot">
      <source src="bot.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <div class="container-fluid h-100">
      <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
          <div class="card-header">
            <div class="input-group">
              <input type="text" placeholder="Search..." name="" class="form-control search">
              <div class="input-group-prepend">
                <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
              </div>
            </div>
          </div>
          <div class="card-body contacts_body">
            <ui class="contacts">
            <li class="active">
              <div class="d-flex bd-highlight">
                <div class="img_cont">
                  <img src="/static/bot-new.gif" class="rounded-circle user_img">
                  <span class="online_icon"></span>
                </div>
                <div class="user_info">
                  <span>Bot AI</span>
                  <p>Bot AI is online</p>
                </div>
              </div>
            </li>
            </ui>
          </div>
          <div class="card-footer"></div>
        </div></div>
        <div class="col-md-8 col-xl-6 chat">
          <div class="card">
            <div class="card-header msg_head">
              <div class="d-flex bd-highlight">
                <div class="img_cont">
                  <img src="/static/bot-new.gif" class="rounded-circle user_img">
                  <span class="online_icon"></span>
                </div>
                <div class="user_info">
                  <span>Chat with Bot AI</span>
                  <p>Bot AI</p>
                </div>
                <!-- <div class="video_cam">
                  <span><i class="fas fa-video"></i></span>
                  <span><i class="fas fa-phone"></i></span>
                </div> -->
              </div>
              <!-- <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
              <div class="action_menu">
                <ul>
                  <li><i class="fas fa-user-circle"></i> View profile</li>
                  <li><i class="fas fa-users"></i> Add to close friends</li>
                  <li><i class="fas fa-plus"></i> Add to group</li>
                  <li><i class="fas fa-ban"></i> Block</li>
                </ul>
              </div> -->
            </div>
            <div class="card-body msg_card_body" id="chatbox">
              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img src="/static/bot-new.gif" class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer">
                  Hi, Im Bot AI.
                  <span class="msg_time" id="waktu">8:40 AM</span>
                </div>
              </div>
              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img src="/static/bot-new.gif" class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer">
                  Please type something for what you need.
                  <span class="msg_time" id="waktu">8:40 AM</span>
                </div>
              </div>
              <audio id="botAudio">
                <source src="/static/bot.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
              <audio id="myAudio">
                <source src="/static/user.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
            </div>
            <div class="card-footer">
              <div class="input-group"id="userInput">
                <textarea id="textInput" class="form-control type_msg" placeholder="Type your message..."></textarea>
                <div class="input-group-append" id="buttonInput">
                  <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <script>
  $(document).ready(function(){
    var d = new Date();
    var n = d.getHours();
    var m = d.getMinutes();

    if(n > 12){
      ss = "PM"
    }else{
      ss = "AM"
    }
    document.getElementById("waktu").innerHTML = n + ":" + m + " " + ss;
  });
  function getBotResponse() {
    var d = new Date();
    var n = d.getHours();
    var m = d.getMinutes();

    if(n > 12){
      ss = "PM"
    }else{
      ss = "AM"
    }
    var rawText = $("#textInput").val();
    var userHtml = "<div class='d-flex justify-content-end mb-4'><div class='msg_cotainer_send'>" + rawText + "<span class='msg_time_send'>" + n + ":" + m + " " + ss + "</span></div><div class='img_cont_msg'><img src='/static/bot.jpg' class='rounded-circle user_img_msg'></div></div>";
    $("#textInput").val("");
    $("#chatbox").append(userHtml);
    window.scrollTo(0,document.body.scrollHeight);
    var sound_user = document.getElementById("myAudio");  
    sound_user.play();
    $("#chatbox").stop().animate({ scrollTop: $("#chatbox")[0].scrollHeight}, 1000);
    $.get("/get", { msg: rawText }).done(function(data) {
      var botHtml = "<div class='d-flex justify-content-start mb-4'><div class='img_cont_msg'><img src='/static/bot-new.gif' class='rounded-circle user_img_msg'></div><div class='msg_cotainer'>" + data + "<span class='msg_time'>" + n + ":" + m + " " + ss + "</span></div></div>";
      $("#chatbox").append(botHtml);
      var sound_bot = document.getElementById("botAudio");  
      sound_bot.play();
      document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
      $("#chatbox").stop().animate({ scrollTop: $("#chatbox")[0].scrollHeight}, 1000);
    });
  }
  $("#textInput").keypress(function(e) {
      if ((e.which == 13) && document.getElementById("textInput").value != "" ){
          getBotResponse();
      }
  });
  $("#buttonInput").click(function() {
      if (document.getElementById("textInput").value != "") {
          getBotResponse();
      }
  })
  </script>
  </body>
</html>
